* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background-color: rgb(223, 223, 223);
  color: rgb(32, 32, 32);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  color: rgb(58, 58, 58);
  font-size: large;
  font-weight: 600;
}

a {
    color: rgb(0, 0, 138);
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    opacity: .8;
    text-decoration: underline;
}

img {
  width: 300px;
  height: auto;
  border-radius: 15px;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.inline-block {
    display: block;
}

.info {
  margin-top: 1rem;
}

.title {
  padding-block: 2rem;
}

.slack-username {
  text-align: center;
  margin-bottom: .2rem;
}

.link-arrow {
    width: 20px;
}
